{% extends 'base.html.twig' %}

{% block body %}
   <div id="right-panel" class="right-panel">
    <div class="content">
        <div class="animated fadeIn">
            <!-- Widgets  -->
            <div class="row">
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-header bg-primary mb-3">
                            <strong class="card-title color-white">Modifier un vehicule </strong>
                        </div>
                        <div class="card-body">
                          {{ include('vehicule/_form.html.twig', {'button_label': 'Update'}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
</div>   

    

  

   
{% endblock %}
