{% extends 'base.html.twig' %}

{% block title %}New Vehicule{% endblock %}

{% block body %}
 <div id="right-panel" class="right-panel">
    <div class="content">
        <div class="animated fadeIn">
            <!-- Widgets  -->
            <div class="row">
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-header bg-primary mb-3">
                            <strong class="card-title color-white">Ajouter un vehicule  </strong>
                        </div>
                        <div class="card-body">
                              {{ include('vehicule/_form.html.twig') }}
                               <a href="{{ path('vehicule_index') }}">consulter mes vehicules </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
</div> 

  
   
{% endblock %}
