{% extends 'base.html.twig' %}

{% block body %}
  
 <div id="right-panel" class="right-panel">
    <div class="content">
        <div class="animated fadeIn">
            <!-- Widgets  -->
            <div class="row">
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-header bg-primary mb-3">
                            <strong class="card-title color-white">CREER L'ENTREPRISE </strong>
                        </div>
                        <div class="card-body">
                              {{ include('entreprise/_form.html.twig') }}
                              <br>
                            <a class="btn btn-success btn-sm" href="{{ path('entreprise_index') }}">LES ENTREPRISES </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
</div>

  

{% endblock %}
