{% extends "base.html.twig"  %}
{% block body %} 

<div id="right-panel" class="right-panel">
        <!-- Header-->
        
        <!-- /#header -->
        <!-- Content -->
        <div class="content">
            <div class="animated fadeIn">
                <!-- Widgets  -->
                <div class="row">
                    <div class="col-md-7">
                        <aside class="profile-nav alt">
                            <section class="card">
                                <div class="card-header user-header alt twt-feed blue-bg">
                                    <div class="media">
                                        <a href="#">
                                            <img class="align-self-center rounded-circle mr-3" style="width:95px; height:95px;" alt="" src="images/admin.jpg">
                                        </a>
                                       
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                      <p styme="font-size:19px">  <i class="fa fa-envelope-o" style="margin-left:1% ;padding-left:2%"></i> EMAIL :   <span class="badge badge-primary pull-right">{{ app.user.email   }} </span> </p>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-phone" style="margin-left:1% ;padding-left:2%"></i>  TELEPHONE :<span class="badge badge-primary pull-right">{{ app.user.telephone }}</span></a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-qrcode" style="margin-left:1% ;padding-left:2%"></i> NUMERO DE SIRET :<span class="badge badge-primary pull-right">{{ app.user.NumeroSiret	}}</span></a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-user" style="margin-left:1% ;padding-left:2%"></i>    STATUS :   <span class="badge badge-primary pull-right">{{app.user.status }} </span></a>
                                    </li>
                                </ul>

                            </section>
                        </aside>
                    </div>
                    
                </div>
                
            </div>
            <!-- .animated -->
            
        </div>
</div> 
{% endblock %}