{% extends 'base.html.twig' %}
{% block body %}
   

 <div id="right-panel" class="right-panel">
    <div class="content">
        <div class="animated fadeIn">
            <!-- Widgets  -->
            <div class="row">
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-header bg-primary mb-3">
                            <strong class="card-title color-white">AJOUTER TYPE DE VEHICULE </strong>
                        </div>
                        <div class="card-body">
                             {{ include('type_vehicule/_form.html.twig') }}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
</div> 
   

    <a href="{{ path('type_vehicule_index') }}">back to list</a>
{% endblock %}
