{% extends 'base.html.twig' %}

{% block body %}
 
 <div id="right-panel" class="right-panel">
    <div class="content">
        <div class="animated fadeIn">
            <!-- Widgets  -->
            <div class="row">
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-header card-pr">
                            <strong class="card-title">ENREGISTER LE PAYS  </strong>
                        </div>
                        <div class="card-body">
                              {{ include('pays/_form.html.twig') }}
                              <br>
                            <a class="btn btn-success btn-sm" href="{{ path('pays_index') }}">liste des pays  </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
</div>    
{% endblock %}